section h2{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}
section{
  margin-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand{
  padding: 5px;
}
.container{
  min-width: 300px;
}
#mainNav.affix {
    box-shadow: 0 0 25px rgba(0,0,0,.25);
}

/* Background pattern from subtlepatterns.com */
.jumbotron {
    background: #fbfbfb url('../img/grey-back.png') repeat;
    background-color:rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #e7e7e7;
    font-size: 18px;
}
.jumbotron-content {
    text-align: center;
    max-width: 700px;
    margin: auto;
}
.jumbotron p {
  color: #606060;
  font-size: 18px;
  font-family: "Arial";
}

.carousel {
    margin-bottom: 15px;
}
.carousel-caption {
    color: #000;
    font-size: 18px;
    text-shadow: none;
    white-space: nowrap;
}
#intuitiveCarousel .carousel-caption {
    color: #000;
    font-size: 14px;
    text-shadow: none;
}
.code {
    border: 1px solid #ccc;
    padding: 15px 15px 0px 15px;
    max-width: 350px;
    min-width: 300px;
}

#intuitiveCarousel, #codeOptionalQuotes {
    padding: 15px 15px 0px 15px;
    max-width: 350px;
    min-width: 300px;
}

.carousel-caption {
    padding-bottom: 5px;
}

.carousel-indicators {
    margin-bottom: 5px;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    #language .carousel-caption {
        padding-bottom: 5px;
    }

    #language .carousel-indicators {
        margin-bottom: 5px;
        bottom: 0;
    }
}
.carousel-indicators li {
    border: 1px solid #000;
}
.carousel-indicators .active {
    background-color: #000;
}
.carousel-code {
    font-family: Consolas, Inconsolata, Monaco, "Courier New" !important;
    font-size: 12px !important;
    line-height: 15px !important;
    overflow-x: auto;
}

.content-section{
  border-bottom: 1px solid #e7e7e7;
}

.code_table tbody tr td{
  border-top-style: none;
}
.code_table thead{
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.code_table{
  width: auto;

}
.code_table .td_code{
    vertical-align: top;
    width: 50%;
    line-height: 15px;
}
.td_left{
  border-right: 1px;
  border-right-color: silver;
  border-right-style: solid;
}

.content-section .row{
  margin-top: 20px;
}
.content-section h2{
  text-align: center;
}
.content-section h3{
  margin-top: 20px;
}

.content-section .fa{
  font-size: 150px;
  color:silver;

}

@media (max-width: 559px){
  .content-section .fa{
    font-size: 50px;
  }
  .content-section h3{
    margin-top: 10px;
  }
}


.flex {
  display: flex;
}
.right-image {
    display: flex;
    flex-direction: row-reverse;
}
@media (max-width: 559px){
  .right-image, .flex {
    flex-direction: column;
  }
}
